<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>

<body>
    <center>
        <fieldset style="display: inline-block;">
            <legend>Login</legend>
            <form action="../controllers/loginChecker.php" method="post">
            <input type="radio" name="userType" value="admin" checked="checked"> Admin
            <input type="radio" name="userType" value="stuff"> Stuff
            <input type="radio" name="userType" value="student"> Student
            <input type="radio" name="userType" value="faculty"> Faculty <br><br>
           
                <table>
                    <tr>
                        <td>Username:</td>
                        <td><input type="text" name="username" required></td>
                    </tr>
                    <tr>
                        <td>Password:</td>
                        <td><input type="password" name="password" required></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" name="login" value="Login"></td>
                    </tr>
                </table>
            </form>
        </fieldset> <br>
        Forget Password? <a href="../views/Recover.php">Click Here</a>
    </center>
</body>

</html>